body{
	text-align: center;
}

#ball{
   flort: left;
   width: 100px;
   height: 100px;
   margin: 0px;
}

h{
	text-align:  center;
   font-size: 70px;
    color: yellow;
   -webkit-text-stroke: 2px red;
   text-stroke: 2px red;
   vertical-align: top;
}

table{
   border: solid 3px;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;


}
td {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
	height: 250px;

}

td.a {
	margin-left: auto;
    margin-right: auto;
    width: 200px;
	height: 250px;
}
td.b{
  font-size: 40px;
   text-align:  left;
}

img{
   vertical-align: top;
   width: 200px;
   height: 300px;
}

.profile{
   font-size: 30px;
}
button#delete{
	text-align:  center;
	color: red;
}
button#insert{
	color: blue;
}
.new{
	margin : 16px;
}
.new button#insert{
	display       : inline-block;
   border-radius : 5%;
   font-size     : 18pt;
   text-align    : center;
   cursor        : pointer;
   padding       : 15px 150px;
   background    : red;
   color         : #ffffff;
   line-height   : 1em;
   transition    : .3s;
   box-shadow    : 6px 6px 3px #666666;
   border        : 2px solid #000066;
}
.new button#insert:hover{
	box-shadow    : none;
   color         : #000066;
   background    : #ffffff;
}
form#view{
	text-align: center;
	margin-bottom: 16px;
}