body{
   text-align: center;
}

#ball{
   flort: left;
   width: 100px;
   height: 100px;
   margin: 0px;
}
h{
   font-size: 70px;
    color: yellow;
   -webkit-text-stroke: 2px red;
   text-stroke: 2px red;
   vertical-align: top;
}
p{
	font-size: 20px;
}
#nav dt{
   font-size: 30px;
   display: block;
   width: 100%;
   height: 100px;
   line-height: 100px;
   text-align: center;
   border: red 3px solid;
   cursor: pointer;
   margin-left: auto;
   margin-right: auto;
}
#nav dd{
   background: #f2f2f2;
   width: 100%;
   height: 100%;
   line-height: 50px;
   text-align: center;
   border: #666 3px solid;
   display: none;
   margin-left: auto;
   margin-right: auto;
}

.login{
   font-size: 30px;
   display: block;
   width: 100%;
   height: 100px;
   line-height: 100px;
   text-align: center;
   border: red 3px solid;
   cursor: pointer;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
}
div{
   font-size: 30px;
   display: block;
   width: 100%;
   height: 100px;
   line-height: 100px;
   text-align: center;
   border: red 3px solid;
   cursor: pointer;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
}
textarea{
   width: 300px;
   height: 100px;
}
button#member {
   display       : inline-block;
   border-radius : 5%;
   font-size     : 18pt;
   text-align    : center;
   cursor        : pointer;
   padding       : 12px 12px;
   background    : red;
   color         : #ffffff;
   line-height   : 1em;
   transition    : .3s;
   box-shadow    : 6px 6px 3px #666666;
   border        : 2px solid yellow;
}
button#member:hover {
   box-shadow    : none;
   color         : #000066;
   background    : #ffffff;
}
button#album {
   display       : inline-block;
   border-radius : 5%;
   font-size     : 18pt;
   text-align    : center;
   cursor        : pointer;
   padding       : 12px 12px;
   background    : red;
   color         : #ffffff;
   line-height   : 1em;
   transition    : .3s;
   box-shadow    : 6px 6px 3px #666666;
   border        : 2px solid yellow;
}
button#album:hover {
   box-shadow    : none;
   color         : #000066;
   background    : #ffffff;
}
button#user {
   display       : inline-block;
   border-radius : 5%;
   font-size     : 18pt;
   text-align    : center;
   cursor        : pointer;
   padding       : 12px 12px;
   background    : red;
   color         : #ffffff;
   line-height   : 1em;
   transition    : .3s;
   box-shadow    : 6px 6px 3px #666666;
   border        : 2px solid yellow;
}
button#user:hover {
   box-shadow    : none;
   color         : #000066;
   background    : #ffffff;
}

button{
	color: red;
}
