body{
	text-align: center;
}

#ball{
   flort: left;
   width: 100px;
   height: 100px;
   margin: 0px;
}

h{
	text-align:  center;
   font-size: 70px;
    color: yellow;
   -webkit-text-stroke: 2px red;
   text-stroke: 2px red;
   vertical-align: top;
}

table{
   border: solid 3px;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;


}
td {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
	height: 250px;
}

td.a {
	margin-left: auto;
    margin-right: auto;
    width: 200px;
	height: 250px
}
td.b{
  font-size: 40px;
   text-align:  left;
}

img{
   vertical-align: top;
   width: 200px;
   height: 300px;
}
img#ball{

   padding-left: 300px;
}

.profile{
   font-size: 30px;
    padding-left: 300px;
}

form#view{
	display: inline-block;
	 font-size: 40px;
	 padding: 20px;
	 padding-right: 230px;
	 padding-left: 0;
	 float: right;
}
button#select{
	color: red;
}
